<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイムライン</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <a href="/logout">ログアウト</a>
    <a href="/empathy/create">投稿作成</a>
    <a href="/empathy/questions">質問掲示板</a>
    <a href="/empathy/home">ホーム</a>
    </header>

    <h1>タイムライン</h1>

    <div class="home-container">
        <div class="age-group-counts">
            <h2>世代別登録数</h2>
            <ul>
                <li th:class="${currentAgeGroup == '13-18歳' ? 'highlight' : ''}"
                    th:text="'13-18歳: ' + ${ageGroupCounts['13-18歳'] != null ? ageGroupCounts['13-18歳'] : 0} + '人'"></li>
                <li th:class="${currentAgeGroup == '19-24歳' ? 'highlight' : ''}"
                    th:text="'19-24歳: ' + ${ageGroupCounts['19-24歳'] != null ? ageGroupCounts['19-24歳'] : 0} + '人'"></li>
                <li th:class="${currentAgeGroup == '25-29歳' ? 'highlight' : ''}"
                    th:text="'25-29歳: ' + ${ageGroupCounts['25-29歳'] != null ? ageGroupCounts['25-29歳'] : 0} + '人'"></li>
                <li th:class="${currentAgeGroup == '30-39歳' ? 'highlight' : ''}"
                    th:text="'30-39歳: ' + ${ageGroupCounts['30-39歳'] != null ? ageGroupCounts['30-39歳'] : 0} + '人'"></li>
                <li th:class="${currentAgeGroup == '40歳以上' ? 'highlight' : ''}"
                    th:text="'40歳以上: ' + ${ageGroupCounts['40歳以上'] != null ? ageGroupCounts['40歳以上'] : 0} + '人'"></li>
            </ul>
        </div>
    </div>
    
    
    
    
    <ul>
        <li th:each="post : ${posts}">
            <div>
                <p th:text="${post.user.username} + ':' "><!--投稿者を表示--></p>
                <p th:text="${post.content}">投稿内容</p>
                <div class="home-post-container">
                    <a th:href="@{/empathy/{id}(id=${post.id})}">詳細画面</a>
                    <form th:action="@{'/empathy/' + ${post.id} + '/like'}" method="post" style="display: inline;">
                        <button type="submit">💗(<span th:text="${post.likeCount}">0</span>)</button>
                    </form>
                    <form th:action="@{'/empathy/' + ${post.id} + '/cheer'}" method="post" style="display: inline;">
                        <button type="submit">🔥(<span th:text="${post.cheerCount}">0</span>)</button>
                    </form>
                    <a th:href="@{'/empathy/' + ${post.id} + '/update'}">編集</a>
                    <form th:action="@{'/empathy/' + ${post.id} + '/delete'}" method="post" style="display: inline;">
                        <button type="submit">削除</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
    
    
    <!-- 投稿がない場合のメッセージ -->
    <p th:if="${#lists.isEmpty(posts)}">投稿はありません。</p>
    
</body>
</html>
