<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>投稿詳細</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="post-detail-page">
    <h2>返信する</h2>

    <div class="reply-form">
        <form th:action="@{/empathy/{id}/reply(id=${post.id})}" method="post">
            <textarea name="content" placeholder="返信内容を入力してください" required></textarea>
            <button type="submit">返信</button>
        </form>
    </div>

    <h2>投稿</h2>
    <div class="post-content">
        <p class="post-text" th:text="${post.content}">投稿内容</p>
        <p class="post-date">投稿日: <span th:text="${post.createdAt}"></span></p>
    </div>

    <h2>返信一覧</h2>
    <div class="replies">
        <ul>
            <li th:each="reply : ${replies}">
                <p class="reply-text" th:text="${reply.user.username} + ':' + ${reply.content}"></p>
            </li>
        </ul>
    </div>
    <a href="/empathy/home">ホームへ戻る</a>
</body>
</html>
