<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>質問一覧</title>
</head>
<body>
    <div>
        <p>ログイン中のユーザー: 
            <span th:text="${loggedInUserName}"></span> 
            (<span th:text="${loggedInUserGender}" 
                   th:style="'color:' + (${loggedInUserGender == '男性' ? 'blue' : 'red'})"></span>)
        </p>
    </div>
    

    <h1>質問一覧</h1>
    <div>
        <!-- 世代フィルター -->
        <a th:href="@{/empathy/questions(filter=null, genderFilter=${currentGenderFilter})}"
           th:classappend="${currentFilter == null or currentFilter == '' ? 'selected' : ''}">全ての質問</a>
        <a th:href="@{/empathy/questions(filter='sameGeneration', genderFilter=${currentGenderFilter})}"
           th:classappend="${currentFilter == 'sameGeneration' ? 'selected' : ''}">同世代の質問</a>
        <a th:href="@{/empathy/questions(filter='toMyGeneration', genderFilter=${currentGenderFilter})}"
           th:classappend="${currentFilter == 'toMyGeneration' ? 'selected' : ''}">自分の世代向けの質問</a>
    </div>
    
    <div>
        <!-- 性別フィルター -->
        <a th:href="@{/empathy/questions(filter=${currentFilter}, genderFilter='指定なし')}"
           th:class="${currentGenderFilter == '指定なし' ? 'selected' : ''}">指定なし</a>
        <a th:href="@{/empathy/questions(filter=${currentFilter}, genderFilter='男性')}"
           th:class="${currentGenderFilter == '男性' ? 'selected' : ''}">男性</a>
        <a th:href="@{/empathy/questions(filter=${currentFilter}, genderFilter='女性')}"
           th:class="${currentGenderFilter == '女性' ? 'selected' : ''}">女性</a>
    </div>
    
    

    <div class="question-grid">
        <div class="question-card" th:each="question : ${questions}">
            <h2 th:text="${question.title}"></h2>
            <p th:text="${question.content}"></p>
            <!-- 質問した世代を表示 -->
            <p>質問した世代: 
                <span th:text="${questionCreatedByAgeGroups[question.id]}"></span>
            </p>
            <!-- 質問対象世代を表示 -->
            <p>回答する世代: <span th:text="${question.ageGroup}"></span></p>
    
            <!-- 回答する性別を表示 -->
            <p>回答する性別: 
                <span th:if="${question.gender == '指定なし'}">指定なし</span>
                <span th:if="${question.gender != '指定なし'}" th:text="${question.gender}"></span>
            </p>
    
            <p th:text="${question.createdAt}"></p>
            <a th:href="@{/empathy/questions/{id}(id=${question.id})}">詳細</a>
        </div>
    </div>
    

    <div th:if="${#lists.size(questions) == 0}">
        <p>質問はまだありません</p>
    </div>

    <a href="/empathy/questions/create">質問する</a>
    <a href="/empathy/home">ホームへ戻る</a>
</body>
</html>